---
title: Tools
permalink: "/tools/"
layout: default
---
<style>
table {
  border-collapse: collapse;
  width: 100%;
}
th.sup {
  width: 15%;
  text-align:center;
}

th.imex {
  width: 10%;
  text-align:center;
}

th.descr {
  width: 25%;
}

th.center {
	text-align:center;
}


th, td {
  padding:17px 5px 17px 5px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

td {
  vertical-align: middle;
}

table tbody tr:hover {background-color:#f5f5f5;}

table thead tr {
  background-color: #fff;
}
table thead th {
  border-bottom: 3px solid #ddd;
  padding:5px 5px 5px 5px;
}

h3{
        margin-left:0px;
        margin-bottom:0px;
}

h4{
		margin-left:0px;
        margin-bottom:0px;
}


</style>
<section class="section">
    <h2 class="title title-one">SSP Related Tools</h2> 

<article class="contentbox">
<table>
  <thead>
    <tr>
      <th><h3 class="title">Name</h3></th>
      <th><h3 class="title">Vendor</h3></th>
      <th class="descr"><h3 class="title">Short Description</h3></th>
      <th><h3 class="title_c">License</h3></th>
      <th class="imex"><h3  class="title_c">Import</h3></th>
      <th class="imex"><h3 class="title_c">Export</h3></th>
      <th class="sup"><h3 class="title_c">Supported SSP Versions</h3></th>
    </tr>
  </thead>
  <tbody>
    {% for item in site.data.tools %}
    <tr>
	{% if item.homepage_tool != "n.a." %}
      <th><h4><a href="{{ item.homepage_tool }}" >
      {{ item.name }}
    </a></h4></th>
	{% endif %}	
	{% if item.homepage_tool == "n.a." %}
      <th><h4>{{ item.name }}</h4></th>
	{% endif %}
	 
	{% if item.homepage_vendor != "n.a." %}
      <th><h4><a href="{{ item.homepage_vendor }}" >
      {{ item.vendor }}
    </a></h4></th>
	{% endif %}	
	{% if item.homepage_vendor == "n.a." %}
      <th><h4>{{ item.vendor }}</h4></th>
	{% endif %}
	 
	  <th class="descr"><h4>{{item.short_description}}</h4></th>
	  <th class="center"><h4>{{item.license | downcase}}</h4></th>
	  <th class="imex"><h4>{{item.import | downcase}}</h4></th>
	  <th class="imex"><h4>{{item.export | downcase}}</h4></th>
	  <th class="sup"><h4>{{item.supportet_SSP_versions | downcase}}</h4></th>
    </tr>
    {% endfor %}
  </tbody>
</table>
</article>
</section>

